/*# sourceMappingURL=main.scss.map */
$color-principal: #f3e9f1;
$color-secondary: #4d4d4d;
$color-text: #f1f1f1;
$dégradé: #D6843C, #8F5BFE;

@mixin boutton {
    &:hover {
        transform: scale(1.03);
    }
    &:active {
        transition: 0s;
        transform: scale(1);
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Finger Paint", cursive;
}
img {
    object-fit: cover;
}

body {
    background: $color-secondary;
}

.icone-logo::before {
    background: linear-gradient($dégradé);
    background: -webkit-linear-gradient($dégradé);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

header {
    position: relative;
    height: 25vh;
    width: 100%;
    background: $color-principal;
    .logo{
        a {
            position: absolute;
            display: flex;
            right: 38vw;
            top: 10%;
            align-items: center;
            color: black;
            .icone-logo::before {
                font-size: 100px;
                
            }
            h1 {
                font-size: xxx-large;
            }
        }
    }
    .menu-nav {
        height: 25vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        ul, .panier {
            align-items: center;
        }
        
        ul {
            display: flex;
            justify-content: flex-start;
            padding-left: 10%;
            padding-bottom: 40px;
            li {
                margin-right: 30%;
                font-size: 25px;
                list-style-type: none;
                transition: 0.3s;
                @include boutton();
                a {
                    color: black;
                }
            }
        }

        .panier {
            justify-content: flex-end;
            padding-right: 10%;
            padding-bottom: 40px;
            a{
                display: flex;
                align-items: center;
            }
            .icone-logo::before {
                font-size: 30px;
            }

            h2 {
                font-size: 25px;
                margin-left: 5%;
                color: black;
            }
        }
    }
}

section {
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    main {
        width: 100%;
        margin-top: 30px;
        .intro {
            width: 100%;
            text-align: center;
            font-size: 50px;
            color: #f1f1f1;
        }
        p {
            margin-bottom: 20px;
            color: #f1f1f1;
            text-align: center;
            font-size: 20px;
        }
    }

    .recherche {
        width: 100%;
        padding-right: 20px;
        text-align: right;
        position: relative;
        input, select {
            margin-top: 20px;
            padding-left: 5px;
            margin-bottom: 30px;
            border-radius: 5px;
            outline: none;
        }
        .fa-search {
            position: absolute;
            top: 26px;
            right: 1.5%;
            font-size: small;
            cursor: pointer;
            @include boutton();
        }
        @media screen and(max-width: 1500px){
            .fa-search {
                right: 2.5%;
            }
        }
        @media screen and(max-width: 840px){
            .fa-search {
                right: 3.8%;
            }
        }
    }

    .produits {
        width: 100%;
        display: flex;
        justify-content: center;
        #info {
            width: 30%; 
            padding: 0 20px;  
        }
    }
    .produit {
        width: 30%;
        margin: 40px 20px 40px 20px;
        padding: 10px;
        border-radius: 15px;
        background: lighten($color: $color-secondary, $amount: 20); 
        cursor: pointer;
        transition: all 0.5s ease-out;
        &:hover {
            transform: scale(1.06);
            box-shadow: 10px 20px 10px 1px;
        } 
        a {
            color: $color-text;
            h2 {
                padding-top: 10px;
                padding-left: 20px;
            }
            p {
                padding: 20px 20px;
            }
        }
        
        .titre-produit, .info-produit {
            color: black;
        }
        .titre-produit {
            text-align: center;
            font-size: xx-large;
        }
        
        .image {
            width: 100%;
            text-align: center;
            .img-produit {
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                width: 80%;
                height: 250px;
                border-radius: 10px;
            }
        }
        
        .info-produit {
            background: linear-gradient(to top,transparent 10%, lighten($color: $color-secondary, $amount: 100) 80%,transparent);
            border: 0.1px solid black;
            border-radius: 5px;
            position: relative;
            .description-produit, .prix-produit, .taille-produit, .choix{
                text-align: left;
                margin: 10px;
                font-size: large;
            }
            .description-produit {
                border-bottom: 2px solid lighten($color: $color-secondary, $amount: 20);
                padding-bottom: 10px;
                text-align: center;
                
            }
            .choix {
                opacity: 0;
                z-index: -1000;
                border: none;
                border-radius: 10px;
                padding: 8px 12px;
            }
            .voir-plus {
                z-index: 10;
                position: absolute;
                right: 5%;
                width: 80%;
                text-align: center;
                background: #fff;
                color: $color-secondary;
                padding: 10px;
                transition: all 0.3s;
                border: 1px solid black;
                &:hover {
                    transform: scale(1.04);
                    padding-left: -10px;
                }
                &:active {
                    transform: scale(1);
                }
            }
        }
        
        .button {
            display: flex;
            justify-content: flex-end;
            button{
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 12px 25px;
                font-size: large;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                background: $color-principal;
                transition: 0.3s;
                @include boutton();
            }
        }
    }
    
    .panier {
        text-align: center;
        line-height: 100vh;
        height: 100vh;
        width: 100%;
        .button-panier {
            color: $color-text;
            font-size: 35px;
            background: lighten($color: $color-secondary, $amount: 30);
            padding: 7px 50px;
            border-radius: 10px;
        }
    }
}

@media screen and(max-width: 1024px){
    section {
        padding: 0;
        input, select {
            padding-left: 5px;
            margin-bottom: 30px;
            border-radius: 5px;
        }
        .produits {
            flex-wrap: wrap;
            #info {
                width: 80%;
                margin: 40px 20px 40px 20px;
            }
            .produit {
                width: 80%;
            }
        }
    }
}
@media screen and(max-width: 768px){
    section {
        input, select {
            padding-left: 5px;
            margin-bottom: 30px;
            border-radius: 5px;
        }
        padding: 0;
        .produits {
            flex-wrap: wrap;
            #info {
                width: 100%;
            }
            .produit {
                width: 100%;
                margin: 0;
            }
        }
    }
}