/*# sourceMappingURL=main.scss.map */
$color-principal: #f3e9f1;
$color-secondary: #4d4d4d;
$dégradé: #D6843C, #8F5BFE;

@mixin boutton {
    &:hover {
        transform: scale(1.03);
    }
    &:active {
        transition: 0s;
        transform: scale(1);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Finger Paint", cursive;
}

body {
    background: $color-secondary;
}

.icone-logo::before {
    background: linear-gradient($dégradé);
    background: -webkit-linear-gradient($dégradé);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

header {
    position: relative;
    height: 25vh;
    width: 100%;
    background: $color-principal;
    .logo{
        a {
            position: absolute;
            display: flex;
            right: 38vw;
            top: 10%;
            align-items: center;
            color: black;
            .icone-logo::before {
                font-size: 100px;
                
            }
            h1 {
                font-size: xxx-large;
            }
        }
    }
    .menu-nav {
        height: 25vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        ul, .panier {
            align-items: center;
        }
        
        ul {
            display: flex;
            justify-content: flex-start;
            padding-left: 10%;
            padding-bottom: 40px;
            li {
                margin-right: 30%;
                font-size: 25px;
                list-style-type: none;
                transition: 0.3s;
                @include boutton();
                a {
                    color: black;
                }
            }
        }

        .panier {
            justify-content: flex-end;
            padding-right: 10%;
            padding-bottom: 40px;
            a{
                display: flex;
                align-items: center;
            }
            .icone-logo::before {
                font-size: 30px;
            }

            h2 {
                font-size: 25px;
                margin-left: 5%;
                color: black;
            }
        }
    }
}

section {
    padding: 20px 40px;
    .recherche {
        text-align: right;
        position: relative;
        input, select {
            padding-left: 5px;
            margin-bottom: 30px;
            border-radius: 5px;
        }
        .fa-search {
            position: absolute;
            top: 13%;
            right: 1%;
            font-size: small;
            cursor: pointer;
            @include boutton();
        }
    }
    .produit {
        width: 100%;
        margin-bottom: 50px;
        padding: 10px;
        border-radius: 5px;
        background: lighten($color: $color-secondary, $amount: 20);
        a {
            color: #f1f1f1;
        }

        .titre-produit, .info-produit {
            color: #f1f1f1;
        }
        .titre-produit {
            text-align: center;
            font-size: xx-large;
        }

        .image {
            width: 100%;
            text-align: center;
            .img-produit {
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                width: 80%;
                height: 50%;
                border-radius: 10px;
            }
        }

        .info-produit {
            background: lighten($color: $color-secondary, $amount: 30);
            border-radius: 5px;
            .description-produit, .prix-produit, .taille-produit {
                text-align: left;
                margin: 10px;
                font-size: large;
            }
            .description-produit {
                border-bottom: 2px solid lighten($color: $color-secondary, $amount: 20);
                padding-bottom: 10px;
            }
        }

        .button {
            display: flex;
            justify-content: flex-end;
            button{
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 12px 25px;
                font-size: large;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                background: $color-principal;
                transition: 0.3s;
                @include boutton();
            }
        }
    }

}
